<div class="container">
    <div class="container text-right">
        <div class="row">
            <div class="col-5">
                <h3 style="font-size: 56px;">Bem vindo ao <span class="text-gradient">Planner Focus</span>!</h3>
                <h5>Crie um ambiente livre de distrações bloqueando sites que desviam sua atenção, enquanto traça um plano organizado para suas tarefas.</h5>
            </div>
            <div class="col-7 d-flex align-items-center">
                <img src="./assets/calendar.png" alt="Imagem" style="width: 100%; box-shadow: -8px 8px 15px #00000045;">
            </div>
        </div>
    </div>
    <div class="container text-right" style="margin-top: 48px;">
        <div class="row">
            <div class="col-3 text-center">
                <img src="/plannerfocus/MVC/View/assets/sidebar.png" alt="Sidebar Image" style="width: 75%; box-shadow: -8px 8px 15px #00000045; margin-top: 5%;" class="mx-auto d-block">
            </div>
            <div class="col-9">
                <ul>
                    <li><h5><i class="bi bi-clipboard-plus"></i> Tarefas:</h5> <h6>Aprimore a gestão das suas atividades por meio de uma lista visual intuitiva, onde você pode inserir informações como data, horário e descrição para uma organização mais eficaz.</h6></li>
                    <li><h5><i class="bi bi-tags"></i> Etiquetas:</h5> <h6>Facilite a categorização das suas tarefas utilizando etiquetas. Para associá-las a uma tarefa, basta retornar à seção de <strong>Tarefas</strong>.</h6></li>
                    <li><h5><i class="bi bi-clipboard-data"></i> Filtrar por Etiquetas:</h5> <h6>Organize seus resultados de forma mais precisa e eficiente.</h6></li>
                    <li><h5><i class="bi bi-calendar-check"></i> Calendário:</h5> <h6>Explore uma visualização organizada das suas tarefas agendadas por meio de um calendário, oferecendo opções de exibição por ano, mês ou semana para maior praticidade e clareza.</h6></li>
                    <li><h5><i class="bi bi-bookmarks"></i> Categorias de Bloqueio:</h5> <h6>Aprimore o controle dos seus sites bloqueados ao filtrar por categorias, possibilitando a separação de diferentes sites conforme situações específicas.</h6><small>* Bloqueio por categorias está em desenvolvimento, atualmente disponível apenas para filtragem</small></li>
                    <li><h5><i class="bi bi-window-x"></i> Lista de Bloqueio:</h5> <h6>Adicione os sites que deseja bloquear copiando suas URLs e inserindo na lista.</h6></li>
                </ul>
            </div>
        <ul>
    </div>
</div>